## Python All Built in Functions
 - There are 69 built in functions
     - By Alphabetical Order 
     - 08-02-2022

In [55]:
dir( ) # it gives used data

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_2',
 '_25',
 '_3',
 '_38',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'li',
 'multiples_of_6',
 'quit']

### 1 - abs()  function:
     - Returns the absolute value of a number. The argument may be an integer or float, if the argument is a complex its magnitude is returned
 - in mathematics the **absolute value** or **modulus**|x| of a real number **x** is the non-negative value of x without regard to its sign.Namely, |x|=x, |-x|=x

In [5]:
# abs() function
# gives absolute value
abs(-1) #  gives 1
abs(4+5j) # 4+5i => |a+bi|= root over(A square + B square);; squareroot of 41=6.40

6.4031242374328485

In [23]:
abs(-7348) # if u give negative it gives positive output

7348

In [56]:
abs(23.5)

23.5

In [57]:
abs(-34.7)

34.7

In [58]:
li=[1,2,3,-1,-2,-3]
abs(li) # cant give absolute valuse of a list

TypeError: bad operand type for abs(): 'list'

In [60]:
newli=[abs(i) for i in li] # here list can converts absolute of list
newli

[1, 2, 3, 1, 2, 3]

### 2 - all()  function:

     - any and all are useful when you can rely on the "truthiness" of values - i.e. their value in a boolean context. 1 is True and 0 is False,
<img src="truthy table.JPG" style="float:left">

In [16]:
all([]) # if you give nothing or empty list gives true

True

In [17]:
all([1,2,3,4]) # if u give numbers it gives true bcz numbers are True, and '0' is false

True

In [18]:
all([0,0,0,0]) # if you give zeros means false it gives False

False

In [19]:
all([1,2,0])

False

In [20]:
all([True,True,True])

True

In [21]:
all([False,True,True])

False

In [22]:
all([True,True,False])

False

In [26]:
def all(iterable):
    for item in iterable:
        if not item:
            return False
    return True
all([1,2,3,4,0])

False

In [28]:
M =[(1, 1), (5, 6), (0, 0)]
print([all(x) for x in M],"#all elements of the last tuple are not true") ##all elements of the last tuple are not true

[True, True, False] #all elements of the last tuple are not true

In [30]:
M =[(1, 1), (5, 6), (0, 0)]
print([not all(x) for x in M],"#NOT operator applied")#NOT operator applied here

[False, False, True] #NOT operator applied

In [32]:
M =[(1, 1), (5, 6), (0, 0)]
print([any(x) for x in M],"#only the last tuple does not have any true element")

[True, True, False] #only the last tuple does not have any true element

In [33]:
print([any(x)  and not all(x) for x in M]) #AND operator applied to 1) and 3)
# if we had M =[(1, 1), (5, 6), (1, 0)], we could get [False, False, True]  in 4)
# because the last tuple satisfies both conditions: any of its elements is TRUE 
#and not all elements are TRUE

[False, False, False]

### 3 . any()  function:
 - The way "any" works is that it checks for elements to be True (so it can return True), then it returnsFalseif none of them wereTrue.
 
 <img src= "truthy table.JPG" style="float:left">

In [38]:
multiples_of_6 = (not (i % 6) for i in range(1, 10))   #not is a logical operator,returns true,if an expression evaluates vise versa
print(any(multiples_of_6)) # if any remainder equals to 6  it gives true,if you put "not" it makes sense
#print(all(multiples_of_6)) # here all numbers to divisble by 6,then only it gives true else gives false
list(multiples_of_6)

True

[False, False, False]

In [26]:
multiples_of_6 = ( (i % 6) for i in range(1, 10))
print(all(multiples_of_6))

False

In [43]:
for i in range(1,10):
    if i % 6==0:
        print(i,end=" ")

6

In [50]:
for i in range(1,10):
    if not i % 6==0:
        print(i,end=  " ")

1 2 3 4 5 7 8 9

In [53]:
li=[1,2,3,4,5,0]
print(any(li))
print(all(li))

True
False

In [62]:
any([])
all([])

True

In [63]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for key in capitals:
    print("Key = " + key + ", Value = " + capitals[key])

Key = USA, Value = Washington D.C.
Key = France, Value = Paris
Key = India, Value = New Delhi

In [1]:
print('Hello  \
     World!')

Hello       World!

In [3]:
print('id: ', 1);print('First Name: ', 'Steve');print('Last Name: ', 'Jobs')

id:  1
First Name:  Steve
Last Name:  Jobs

In [14]:
list = [1, 2, 3, 4,
        5, 6, 7, 8,
        9, 10, 11, 12]
fist=(1,2,9,8,5,4,
     3,0,5,9,6)
fist1={12,13,14,
      1,2,3,5,
      76,89,90}
print(list);print(type(list))
print(fist);print(type(fist))
print(fist1);print(type(fist1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
<class 'list'>
(1, 2, 9, 8, 5, 4, 3, 0, 5, 9, 6)
<class 'tuple'>
{1, 2, 3, 5, 12, 13, 14, 76, 89, 90}
<class 'set'>

In [5]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

Hello World!

In [6]:
print('id: ', 1)
print('First Name: ', 'Steve')
print('Last Name: ', 'Jobs')

id:  1
First Name:  Steve
Last Name:  Jobs